* {
  margin: 0;
  font-family: DM Sans, sans-serif;
}
.main {
    background-color: #2f1893;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
  }
  .navbar {
    align-self: center;
    display: flex;
    margin: auto;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 969px;
    justify-content: space-between;
  }

  .logo {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
  }
  .elements {
    align-self: center;
    display: flex;
    width: 503px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .overview {
    color: var(--colors-white, #fff);
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    opacity: 0.3;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .elements p {
    color: var(--colors-white, #fff);
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .elements button {
    border-radius: 100px;
    background-color: #e93a7d;
    color: white;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
  }

  .div-12 {
    align-self: center;
    margin-top: 82px;
    margin-left: -23px;
    margin-bottom: 82px;
    width: 100%;
    max-width: 976px;
  }

  .div-13 {
    gap: 20px;
    display: flex;
  }

  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 0px;
  }

  .div-14 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
  }

  .div-15 {
    color: var(--colors-white, #fff);
    font-family: DM Sans, sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    align-self: start;
  }

  .div-16 {
    color: var(--colors-white, #fff);
    font-family: DM Sans, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    align-self: start;
    margin-top: 26px;
    width: 363px;
    max-width: 100%;
  }
  .div-17 {
    align-self: start;
    display: flex;
    margin-top: 55px;
    width: 157px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-18 {
    border-radius: 100px;
    background-color: var(--action-third, #e93a7d);
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-top: 19px;
    padding-right: 20px;
    padding-bottom: 19px;
    padding-left: 20px;
    flex-direction: column;
  }
  .div-19 {
    color: var(--colors-white, #fff);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    align-self: center;
    margin-top: -1px;
    text-wrap: nowrap;
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 54%;
    margin-left: 20px;
  }

  .div-20 {
    border-radius: 10px;
    background-color: var(--background-light, #fff);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    flex-direction: column;
    width: 100%;
  }

  .div-21 {
    align-self: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 9px;
    width: 332px;
    max-width: 100%;
    flex-direction: column;
  }
  .div-22 {
    color: var(--colors-heading, #1e0e62);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
    align-self: center;
    text-wrap: nowrap;
  }

  .div-23 {
    align-self: stretch;
    display: flex;
    margin-top: 34px;
    margin-left: 2px;
    flex-direction: column;
    width: 100%;
  }
  .div-24 {
    color: var(--colors-text, rgba(21, 20, 57, 0.4));
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    align-self: stretch;
    text-wrap: nowrap;
    border-radius: 100px;
    border: 2px solid var(--colors-grey, #ebeaed);
    width: 100%;
    flex-grow: 1;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 19px;
    padding-left: 20px;
  }

  .div-25 {
    align-self: stretch;
    display: flex;
    margin-top: 20px;
    margin-left: 2px;
    flex-direction: column;
    width: 100%;
  }
  .div-26 {
    color: var(--colors-text, rgba(21, 20, 57, 0.4));
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    align-self: stretch;
    text-wrap: nowrap;
    border-radius: 100px;
    border: 2px solid var(--colors-grey, #ebeaed);
    width: 100%;
    flex-grow: 1;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .div-27 {
    align-self: start;
    display: flex;
    margin-top: 30px;
    margin-left: 2px;
    width: 263px;
    max-width: 100%;
    align-items: flex-start;
    gap: 13px;
  }

  .div-28 {
    color: var(--colors-text, rgba(21, 20, 57, 0.4));
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    text-wrap: nowrap;
  }

  .div-29 {
    align-self: stretch;
    display: flex;
    margin-top: 30px;
    margin-left: 2px;
    flex-direction: column;
    width: 100%;
  }
  .div-30 {
    border-radius: 100px;
    background-color: var(--action-secondary, #482be7);
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    flex-direction: column;
  }
  .div-31 {
    color: var(--colors-white, #fff);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    align-self: center;
    margin-bottom: -2px;
    text-wrap: nowrap;
  }

  .div-32 {
    align-self: stretch;
    display: flex;
    margin-top: 26px;
    margin-right: 1px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 13px;
  }

  .div-33 {
    color: var(--colors-text, rgba(21, 20, 57, 0.4));
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.9;
    align-self: stretch;
  }

  .div-34 {
    align-self: stretch;
    display: flex;
    margin-top: 26px;
    margin-left: 2px;
    flex-direction: column;
    width: 100%;
  }
  .div-35 {
    border-radius: 100px;
    background-color: var(--socials-twitter, #1da1f2);
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    flex-direction: column;
  }
  .div-36 {
    color: var(--colors-white, #fff);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    align-self: center;
    margin-bottom: -2px;
    text-wrap: nowrap;
  }

  .div-37 {
    align-self: center;
    display: flex;
    margin-top: 25px;
    margin-left: 6px;
    width: 278px;
    max-width: 100%;
    align-items: flex-start;
    gap: 11px;
  }
  .div-38 {
    color: var(--colors-text, rgba(21, 20, 57, 0.4));
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    align-self: stretch;
    width: 231px;
  }
  .div-39 {
    color: var(--action-primary, #25dac5);
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    align-self: stretch;
    text-wrap: nowrap;
  }